.effortTime-banner {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    color: black;
    border: lightblue 2px solid;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}

.effortTime-banner.set:hover {
    background-color: #eff7fa;
}

.effortTime-banner.set {
    background-color: white;
}

.effortTime-banner.not-set {
    background-color: white;
    border: yellow 3px solid;
    border-radius: 5px;
    position: relative;
}

.effortTime-form {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 5px; /* Aggiunto margine superiore per separazione */
}
