.home-container {
    display: flex;
    margin-top: 66px;
    flex-direction: row;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 350px); /* Larghezza del contenuto */
    padding: 20px;
    transition: margin-left 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 350px; /* La larghezza della tua sidebar per mantenere il contenuto al centro */
}

/* Aggiungi questa classe per gestire quando la sidebar è nascosta */
.sidebar-hidden .content {
    margin-left: 0; /* nessun margine quando la sidebar è nascosta */
    width: 100vw; /* usa l'intera larghezza della vista */
}
