.home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 66px;
}

.content-header {
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    padding: 0 20px;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-title {
    font-size: 2em;
    margin: 0 0 0.25em 0;
    color: #333;
}

.subtitle {
    margin: 0;
    font-size: 1em;
    color: grey;
}

.buttons-container {
    display: flex;
    align-self: flex-start;
    margin-right: 20px;
    gap: 10px;
}

.action-btn {
    display: inline-flex;
    align-items: center; /* Vertically center the icon */
    justify-content: center; /* Horizontally center the icon */
    padding: 15px 25px;
    border: none;
    background-color: transparent;
    color: #4CAF50;
    font-size: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s;
}

.action-btn:hover {
    color: #369C3B; /* Darker shade when hovered */
}

.analysis-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 2 columns */
    gap: 30px;
    justify-items: center; /* Center the items on the grid */
    align-items: start; /* Align items to the start of the grid area */
}

.center-content {
    height: calc(100vh - 350px);
    display: flex; /* Flexbox to center children */
    justify-content: center;
    align-items: center;
}

.no-analysis-message {
    font-size: 1.5em;
    color: #666;
}