.sidebar-wrapper {
    width: 100%;
    height: calc(100vh - 66px);
    overflow-y: auto;

}

.sidebar {
    padding: 20px;
}

.filters-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.filters-header h2 {
    margin: 0;
    text-decoration: underline;

}

.filter-controls {
    margin-top: 20px;
    display: inline-block;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid black;
    cursor: pointer;
}

.filter-controls button {
    margin: 0;
    border-radius: 0;
    padding: 12px 18px;
    font-weight: bold;
    border: none;
    color: #394357;
    font-size: 1rem;
    cursor: pointer;
}

.filter-controls button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid black;
}

.filter-controls button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.filter-controls button.active {
    background-color: #ddf1f1;
}

.filter-controls button.not-active {
    background-color: white;
}

.filter-controls button:hover:not(.active) {
    background-color: #eff7fa;
}


.clear-filters {
    background-color: #ff4d4d;
    color: white;
    visibility: hidden;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
}

.clear-filters.visible {
    visibility: visible;
}

.clear-filters button:hover {
    opacity: 0.8;
}

.filter-counter {
    background-color: #f0f0f0;
    color: #333;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 0.9rem;
    visibility: hidden;

}

.filter-counter.visible {
    visibility: visible;
}

.accordion {
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px 10px 0 10px;
}

.accordion-item {
    border: 1px solid #ccc;
}

.accordion-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #e9ecef;
    position: relative;
}

.icon-arrow {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.accordion-title span {
    margin-left: 25px;
    font-weight: bold;
}


.filter-controls-right {
    display: flex;
    align-items: center;
}

.filter-icon {
    margin-right: 10px;
    color: #333;
}

.remove-filter-icon {
    visibility: hidden;
    color: #ff4d4d;
    margin-left: 10px;
    cursor: pointer;
}

.remove-filter-icon.visible {
    visibility: visible;
}

.accordion-content {
    padding: 10px;
    background-color: #f8f9fa;
}

.accordion-content .option {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: background-color 0.2s, border-color 0.2s;
}

.accordion-content .option.not-selected:hover{
    border: 2px solid #8aadb8;
}

.accordion-content .option.selected {
    background-color: #eff7fa;
    border: 2px solid #8aadb8;
}

.accordion-content.smellCode .option span:first-child {
    flex-grow: 1;
    text-align: left;
}

.accordion-content.smellCode .option span:last-child {
    white-space: nowrap;
    font-weight: bold;
}


.color-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.color-dot.dark-red { background-color: firebrick; }
.color-dot.light-coral { background-color: red; }
.color-dot.orange { background-color: orange; }
.color-dot.yellow { background-color: yellow; }
.color-dot.yellow-green { background-color: yellowgreen; }
.color-dot.light-green { background-color: lightgreen; }
.color-dot.darkgreen { background-color: lightblue; }
.color-dot.gray { background-color: gray; }

