.analysis-card {
    width: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: black 1px solid;
    cursor: pointer;
}

.parent_name_favorite {
    width: auto;
    display: flex;
    align-items: center;
    margin-top: 0;
}

.triage-warning-icon {
    margin-left: 10px;
    padding: 2px;
    border-radius: 50%;
}

.triage-warning-icon .fa-exclamation-circle {
    color: yellow; /* Black color for the exclamation point */
}

.star-label {
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 40px;
}

.star-favorite {
    color: gold;
}

.analysis-name {
    display: flex;
    align-items: center;
    margin: 0 0 0 10px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.parent_date_favorite {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.analysis-date {
    margin: 10px 0 10px 0;
}

.smells {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid lightgrey;
}

.smell {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-left: 5px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid;
    border-radius: 50%;
}

.High { background-color: firebrick; }
.Medium-to-High { background-color: red; }
.Medium { background-color: orange; }
.Low-to-Medium { background-color: yellow; }
.Low { background-color: yellowgreen; }
.None-to-Low { background-color: lightgreen; }
.None { background-color: lightblue; }
.undefined { background-color: lightgrey; margin-right: 0; }

.analysisCard-smellNumber{
    margin: 0 5px 0 20px;
    padding: 3px;
    border-bottom: 1px solid lightgrey;
}

.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 25px;
}