.analysis-card {
    background: lightgrey;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 10px;
    position: relative;
    width: 600px;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;/* Change to column to stack the elements */
}

.parent_name_favorite {
    display: flex;
    margin-top: 0;
    width: auto;
}

.triage-warning-icon {
    margin-left: 10px; /* Space it from the name */
    border-radius: 50%; /* Make it round */
    padding: 2px; /* Padding around the icon */
}

/* Add styles for black icon color inside the yellow circle */
.triage-warning-icon .fa-exclamation-circle {
    color: yellow; /* Black color for the exclamation point */
}


.star-label {
    cursor: pointer;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.star-favorite {
    color: gold; /* O il colore che preferisci */
}

.analysis-name {
    display: flex;
    align-items: center; /* Align items in line */
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.parent_date_favorite {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.analysis-date {
    margin-top: 0;

}

.smells {
    display: flex;
    justify-content: center; /* Center the smells */

}

.smell {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 5px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    border: 2px solid;
    margin-right: 25px;
}

.red-smell {
    background-color: #ff5f56;
}

.orange-smell {
    background-color: #ffbd2e;
    }

.yellow-smell {
    background-color: #fffc35;
    }

.green-smell {
    background-color: #27c93f;
    }

.lightblue-smell {
    background-color: #2ab2e2;
    }

.blue-smell {
    background-color: #5956ff;
}


.delete-icon {
    position: absolute; /* Position it absolutely relative to the card */
    top: 10px; /* Adjust as needed */
    right: 10px;
    cursor: pointer;
    font-size: 25px;
}