.smell-card {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.smellName{
    margin: 2px 0 2px 5px;
    text-align: left;
}

.smell-header {
    overflow: hidden;
}

.smell-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Number of lines to display */
    margin: 2px 36px 2px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.smell-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.importance-status {
    display: flex;
    align-items: center;
}

.urgency-indicator {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: grey; /* Default color for undefined urgency */
}

.urgency-indicator.Ø { background-color: lightblue; }
.urgency-indicator.L { background-color: lightgreen; }
.urgency-indicator.LL { background-color: yellowgreen; }
.urgency-indicator.M { background-color: yellow; }
.urgency-indicator.MM { background-color: orange; }
.urgency-indicator.H { background-color: red; }
.urgency-indicator.HH { background-color: firebrick; }

.smell-content h3 {
    margin: 0;
    color: #333;
    font-size: 16px;
}

.smell-content p {
    margin: 0;
    color: #666;
    font-size: 14px;
}

.status-dropdown select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-container input[type="checkbox"] {
    transform: scale(1.5);
    margin-left: 10px; /* Space before the checkbox */
}