.analysis-page-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.analysisPage-grid {
    height: calc(100vh - 66px);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "sidebar smells microservice";
    margin-top: 66px;
    gap: 0;
    overflow: hidden;
}

.grid-sidebar {
    grid-area: sidebar;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.grid-smells-list {
    grid-area: smells;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    border-left: 2px solid #ccc;
}

.grid-microservice-manager {
    grid-area: microservice;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    border-left: 2px solid #ccc;
}
