.microservice-manager {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}

.microservice-title {
    white-space: nowrap; /* Impedisce al titolo di andare a capo */
    overflow: hidden;
    text-overflow: ellipsis; /* Aggiunge ellissi se il titolo è troppo lungo */
    width: 100%;
    text-align: center;
}

 .add-microservice-btn{
     color: white;
     background-color:#28a745;
     padding: 8px 16px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     margin-bottom: 10px;
 }

.add-microservice-btn:hover, button:hover {
    opacity: 0.8;
}

.microservice-list {
    width: 100%;
    padding-bottom: 50px; /* Aggiunge spazio alla fine della lista */
    box-sizing: border-box; /* Assicura che padding e bordi siano inclusi nella larghezza */
}

.microservice-item {
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #ddd; /* Bordo sottile per ogni item */
    padding: 10px;
    border-radius: 4px; /* Angoli arrotondati per gli items */
}

.microservice-item:hover {
    border-color: #aaa; /* Cambio colore bordo al hover */
}

.microservice-details {
    margin-top: 5px;
    background-color: #f9f9f9; /* Sfondo per dettagli espansi */
}

.microservice-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.action-buttons {
    display: flex;
    justify-content: space-between; /* Distribuisce uniformemente lo spazio */
    width: 100%; /* Occupa tutta la larghezza del contenitore */
    color: white;
}

.edit-button, .delete-button {
    flex: 1; /* Occupa metà dello spazio disponibile ciascuno */
    margin: 5px; /* Mantiene una piccola distanza tra i bottoni */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.quality-attributes {
    display: flex;
    flex-direction: column;
    background-color: #eef;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
}

.quality-attribute {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.attribute-name {
    font-weight: bold;
}

.attribute-relevance {
    margin-left: 10px; /* Distanza tra nome attributo e importanza */
}

.relevance-label {
    font-weight: bold;
}

.relevance-high {
    color: red;
}

.relevance-medium {
    color: orange;
}

.relevance-low {
    color: green;
}

.edit-button {
    color: white;
    background-color: #007BFF; /* Blu per il bottone Edit */
}

.delete-button {
    color: white;
    background-color: #DC3545; /* Rosso per il bottone Delete */
}