
.smellPage-header{
    display: flex;
    align-items: center;
    margin-top: 66px;
    height: 50px;
}

.smellPage-analysisName{
    margin: 2px 2px 2px 20px;
    font-size: 20px;
}

.urgency-indicator {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: grey; /* Default color for undefined urgency */
    margin-left: auto; /* Pushes the indicator to the right */
    margin-right: 20px; /* Adds space between the indicator and the analysis name */
}

.urgency-indicator.Ø { background-color: darkgreen; }
.urgency-indicator.l { background-color: lightgreen; }
.urgency-indicator.L { background-color: yellowgreen; }
.urgency-indicator.m { background-color: yellow; }
.urgency-indicator.M { background-color: orange; }
.urgency-indicator.h { background-color: lightcoral; }
.urgency-indicator.H { background-color: darkred; }

.smellPage-headerEffortTime{
    height: fit-content;
    width: fit-content;
    padding: 5px;
    margin-right: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.smellPage-effortTime{
    margin: 0;
}

.smellPage-headerSeparator{
    height: 1px; /* Set the thickness of the line */
    background-color: black; /* Set the color of the line */
    margin: 0; /* Adjust margin if needed */
}

{/********************************************************************************/}

.smellPage-layout { /*container pagina totale*/
    display: grid; /* Using grid layout */
    grid-template-areas: 'sidebar main toc';
    grid-template-columns: 30% 50% 17%; /* Three columns with the middle one larger */
    margin-top: 0;
    gap: 20px; /* Space between columns */
    overflow: hidden; /* Impedisce lo scroll dell'intera griglia */
}

.smellPage-sidebar {
    grid-area: sidebar;
    background-color: lightseagreen;
    overflow-y: auto;
    height: calc(100vh - 116px);
}

.smellPage-mainContent {
    grid-area: main;
    background-color: white;
    overflow-y: auto;
    padding: 1rem;
    height: calc(100vh - 150px);
}

.smellPage-toc{
    margin: 2px;
    grid-area: toc;
    background-color: lightgreen;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 8px;
    height: fit-content;
    text-align: left;
}

.smellPage-tocTitle{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.smellPage-sidebarContent {
    display: flex;
    flex-direction: column;
}

.smellPage-smellListCard{
    background-color: white;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 8px;
    text-align: left;
    margin: 5px 2px;
}

.smellPage-smellIndex{
    margin-left: auto;
    margin-right: 10px;
}

.smellPage-smellCardTitle{
    margin: 0;
}

.smellPage-smellCardMicroservice{
    margin: 0;
}

.smellPage-smellTitle{
    margin: 0;
}

.smellPage-smellRefactor-container { /*container box smell & box refactoring*/
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    overflow: visible;
    width: fit-content;
    height: fit-content;
}

.smellPage-smellK{ /*box smell*/
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    padding: 5px;
    background: lightgreen;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 8px;
    white-space: pre-wrap; /* rispetta le interruzioni di riga e gli spazi nel contenuto */
}

.smellPage-smellName {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.smellPage-smellDescription {
    font-size: 16px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.smellPage-refactoring { /*box refactoring*/
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    padding: 5px;
    background: lightcyan;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.smellPage-refactorName {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.smellPage-refactorDescription {
    font-size: 16px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.smellPage-smellDefinition{
    width: fit-content;
    height: fit-content;
    background: lightseagreen;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 8px;
    margin-top: 10px;
    padding: 5px;
}

.smellPage-smellDefinitionTitle {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.smellPage-smellDefinitionDescription {
    font-size: 16px;
    text-align: left;
    margin-top: 0;
}

/************************************************/

.smellPage-properties {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create two columns of equal width */
    column-gap: 20px; /* Space between columns */
    row-gap: 20px; /* Space between rows */
    margin-top: 20px;
}

.smellPage-smellImpact, .smellPage-refactoringImpact {
    background-color: #fff; /* Change to white for impact boxes */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 20px; /* Increased padding for more space inside the boxes */
}

.smellPage-propertiesSmellImpact, .smellPage-propertiesRefactoringImpact {
    font-size: 20px; /* Increase font size if needed */
    font-weight: bold;
    color: #333; /* Dark text for better contrast */
    margin-top: 5px;
    margin-bottom: 15px; /* More space below the heading */
}

.smellPage-propertyCategory {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px; /* More space below category name */
}

.smellPage-property {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust spacing between properties */
}

.smellPage-impactIndicator {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block; /* Ensure it doesn't collapse */
}

.smellPage-impactIndicator.positive { background-color: green; }
.smellPage-impactIndicator.negative { background-color: red; }

.smellPage-propertyName {
    font-size: 16px;
    text-align: left;
    flex-grow: 1; /* Ensure names take up available space */
}
